.chart-wrap {
  margin-top: 20px;
  .flex {
    display: flex;
    flex-flow: row wrap;
    .flex-item-5{
      display: block;
      flex: 0 0 49%;
      max-width: 49%;
    }
    .flex-item-4 {
      display: block;
      flex: 0 0 38%;
      max-width: 38%;
    }
    .flex-item-1{
      display: block;
      flex: 0 0 100%;
      max-width:100%;
    }

    .flex-item-6 {
      display: block;
      flex: 0 0 60%;
      max-width:60%;
    }
    .flex-right{
      margin-right: 2%;
    }
  }

.footerView{
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  // background: #fff;
  border-radius: 4px;
  padding: 24px;
  position: relative;
  background: #e0e0e0;
  box-shadow:
    3.2px 1.3px 5.3px rgba(0, 0, 0, 0.028),
    10.7px 4.2px 17.9px rgba(0, 0, 0, 0.042),
    48px 19px 80px rgba(0, 0, 0, 0.07);
  

}
.middle{
  box-shadow:
    3.2px 1.3px 5.3px rgba(0, 0, 0, 0.028),
    10.7px 4.2px 17.9px rgba(0, 0, 0, 0.042),
    48px 19px 80px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    &:hover{
      box-shadow:  7px 7px 14px #b0b0b0,
      -7px -7px 14px #ffffff;
    }
  .contentMiddle{
    width: 100%;
   
    background: #fff;
   
    padding: 24px;
    position: relative;
  }
}

.content{
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  background: #fff;
  border-radius: 4px;
  padding: 24px;
  position: relative;
  box-shadow:
    3.2px 1.3px 5.3px rgba(0, 0, 0, 0.028),
    10.7px 4.2px 17.9px rgba(0, 0, 0, 0.042),
    48px 19px 80px rgba(0, 0, 0, 0.07);
    &:hover{
      box-shadow:  7px 7px 14px #b0b0b0,
      -7px -7px 14px #ffffff;
    }
    .content-from{
      margin: 0 0 12px 0;
    }
}
.viewFlow{
  height: 320px !important;
  .chartView {
    width: 100%;
    height: calc(100% - 5px);
  }
}


.view {
  height: 390px;
  .chartView {
    width: 100%;
    height: calc(100% - 5px);
  }
}
}
