body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*HeaderBar*/
.trigger{
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
}
.trigger:hover{
    color: #1890ff;
}
.header-ul{
    display: flex;
    width: 200px;
}
.header-ul li {
    flex-grow: 1;
    text-align: center;
}
.header-ul>li img{
    width: 35px;
    height: 35px;
    border-radius: 100px;
}
.menu{
    line-height: 2em;
    padding: 0 10px;
}
.menu-group li{
    padding: 0 24px;
    line-height: 2em;
}

#page .card-item{
    margin-bottom: 10px;
    border-radius: 3px;
    line-height: 2em;
}
#page .card-ul{
    list-style: inside circle;
}
@import '~antd/dist/antd.css';

// 引入iconfont
@import '../src/Assets/Iconfont/iconfont.css';

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* -------公共样式-------- */
.App {
  text-align: center;
}

.clearfix{
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
.fe-card{
  .card-content{
    .item {
      display: flex;
      margin: 8px 0;
      justify-content: center;
      align-items:center;
      .br{
        width: 14px;
        display: block;
      }
      .isNotEdit{
       border: 1px solid #999;
       margin-bottom: 3px;
       height: 32px;
       line-height: 30px;
       padding: 0 4px;

      }
      .isColor{
         color: blue;
      }
      .isCheckAnswer{
        background: rgba(206, 206, 206, 0.3);
      }

      .isEdit{
       border: 1px solid #1890ff;
       margin-bottom: 3px; 
      }
      .item-div{
        border-bottom: 1px solid #000;
        width: 100%;
        margin: 0 4px;
        padding: 12px 0 0 0;
        .item-div-input-content{
             float: left;
             max-width: 160px;
             cursor: pointer;
          .ant-input{
            width: 60px;
          }
          .anticon {
              margin-right: 8px;
              cursor: pointer;
          }
        }
      }
    }
 }
}
